title           : Gaspare Sganga
description     : Software Developer. GIS & Web Mapping expert at Setin.
author          : Gaspare Sganga
production_url  : https://gasparesganga.com
development_url : https://test.gasparesganga.com
social          :
  email     : "&#116;&#99;&#97;&#116;&#110;&#111;&#99;&#124;&#109;&#111;&#99;&#46;&#97;&#103;&#110;&#97;&#103;&#115;&#101;&#114;&#97;&#112;&#115;&#97;&#103;"
  disqus    : gasparesganga
  feed      : /feed.xml
  github    : https://github.com/gasparesganga
  paypal    : https://paypal.me/gasparesganga
  twitter   : https://twitter.com/gasparesganga

future          : true
paginate        : 10
paginate_path   : /posts/page:num
permalink       : /posts/:title/

markdown        : kramdown
kramdown        :
  input                 : GFM
  hard_wrap             : true
  syntax_highlighter    : rouge
highlighter     : rouge

include :
  - .htaccess

exclude :
  - .asset-cache
  - .jekyll-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - vendor

plugins :
  - jekyll-assets
  - jekyll-paginate
  - autoprefixer-rails
  - uglifier

assets : 
  sources       : [_assets, labs]
  #precompile  : ["[^_]*(?!_assets\\/).*"]
  precompile    : []
  destination   : /assets
  digest        : true
  source_maps   : false
  compression   : true
  gzip          : false
  defaults      :
    js      : { integrity: true }
    css     : { integrity: true }
    img     : { integrity: true }
  caching       :
    path    : ".jekyll-cache/assets"
    type    : file
    enabled : true
  plugins       :
    css     : { autoprefixer: {}}