{% if page.getit.github %}
<h5>GitHub</h5>
View project on <a href="https://github.com/{{ page.getit.github }}">GitHub</a>{% if page.getit.download %} or download the latest <a href="https://github.com/{{ page.getit.github }}/releases/latest">release</a>{% endif %}.
{% endif %}


{% if page.getit.composer %}
<h5>Composer</h5>
<code class="highlighter-rouge">composer require {{ page.getit.composer }}</code>
{% endif %}


{% if page.getit.npm %}
<h5>npm</h5>
<code class="highlighter-rouge">npm install {{ page.getit.npm }}</code>
{% endif %}


{% if page.getit.bower %}
<h5>Bower</h5>
<code class="highlighter-rouge">bower install {{ page.getit.bower }}</code>
{% endif %}


{% if page.getit.cdn %}
<h5>CDN - Production</h5>
{% assign code = "" %}
{% capture new_line %}
{% endcapture %}
  {% for file in page.getit.cdn.files %}
    {% if code != "" %}{% assign code = code | append: new_line %}{% endif %}
    {% capture code %}{{ code }}https://cdn.jsdelivr.net/{{ page.getit.cdn.name }}/latest/{{ file }}{% endcapture %}
  {% endfor %}
  <pre class="highlight"><code class="highlighter-rouge">{{ code }}</code></pre>
  CDN hosting of this library is possible thanks to <a href="https://www.jsdelivr.com">jsDelivr</a>. For more details about URL structure please refer to the official <a href="https://github.com/jsdelivr/jsdelivr#usage">documentation</a>.
  See and all the available files and versions of this library on the <a href="https://www.jsdelivr.com/projects/{{ page.getit.cdn.name }}">CDN page</a>.
{% endif %}
