{% if page.getit.github %}
<h5>GitHub</h5>
View project on <a href="{{ site.base_urls.github }}{{ page.getit.github }}">GitHub</a> {% if page.getit.download %}or download the latest <a href="{{ site.base_urls.github }}{{ page.getit.github }}/releases/latest">release</a>{% endif %}
{% endif %}


{% if page.getit.composer %}
<h5>Composer</h5>
View the package on <a href="{{ site.base_urls.packagist }}{{ page.getit.composer }}">Packagist</a>
{% endif %}


{% if page.getit.npm %}
<h5>npm</h5>
<code class="highlighter-rouge">npm install {{ page.getit.npm }}</code>
{% endif %}


{% if page.getit.bower %}
<h5>Bower</h5>
<code class="highlighter-rouge">bower install {{ page.getit.bower }}</code>
{% endif %}


{% if page.getit.cdn %}
<h5>CDN - Production</h5>
{% assign code = "" %}
{% capture new_line %}
{% endcapture %}
  {% for file in page.getit.cdn.files %}
    {% if code != "" %}{% assign code = code | append: new_line %}{% endif %}
    {% capture code %}{{ code }}{{ site.base_urls.cdn }}{{ page.getit.cdn.name }}/latest/{{ file }}{% endcapture %}
  {% endfor %}
  <pre class="highlight"><code class="highlighter-rouge">{{ code }}</code></pre>
  
  See more information and all the available versions in the <a href="cdn/">CDN page</a>
{% endif %}
