{% if page.getit.github %}
<h5>GitHub</h5>
View project on <a href="https://github.com/{{ page.getit.github }}">GitHub</a> {% if page.getit.download %}or download the latest <a href="https://github.com/{{ page.getit.github }}/releases/latest">release</a>{% endif %}
{% endif %}


{% if page.getit.composer %}
<h5>Composer</h5>
View the package on <a href="https://packagist.org/packages/{{ page.getit.composer }}">Packagist</a>
{% endif %}


{% if page.getit.npm %}
<h5>npm</h5>
<code class="highlighter-rouge">npm install {{ page.getit.npm }}</code>
{% endif %}


{% if page.getit.bower %}
<h5>Bower</h5>
<code class="highlighter-rouge">bower install {{ page.getit.bower }}</code>
{% endif %}


{% if page.getit.cdn %}
<h5>CDN</h5>
{% capture new_line %}
{% endcapture %}
  {% if page.getit.cdn.compressed %}
  Compressed, production files:
  {% assign code = "" %}
  {% for item in page.getit.cdn.compressed %}
    {% if code != "" %}{% assign code = code | append: new_line %}{% endif %}
    {% capture code %}{{ code }}https://cdn.jsdelivr.net/{{ page.getit.cdn.name }}/latest/{{ item }}{% endcapture %}
  {% endfor %}
  <pre class="highlight"><code class="highlighter-rouge">{{ code }}</code></pre>
  {% endif %}
  
  {% if page.getit.cdn.uncompressed %}
  Uncompressed, development files:
  {% assign code = "" %}
  {% for item in page.getit.cdn.uncompressed %}
    {% if code != "" %}{% assign code = code | append: new_line %}{% endif %}
    {% capture code %}{{ code }}https://cdn.jsdelivr.net/{{ page.getit.cdn.name }}/latest/{{ item }}{% endcapture %}
  {% endfor %}
  <pre class="highlight"><code class="highlighter-rouge">{{ code }}</code></pre>
  {% endif %}
  
  See more information and all the available versions in the <a href="cdn/">CDN page</a>
{% endif %}
