html {
    display             : flex;
    font                : 16px/1.55 "Open Sans", helvetica, arial, sans-serif;
    text-align          : left;
    color               : $color_text;
    background-color    : $color_background;
    @media ($query_mobile_width_1) {
        font-size       : 15px;
    }
}
body {
    display     : flex;
    flex-flow   : column nowrap;
    min-height  : 100vh;
    width       : 100%;
}


header {
    display             : flex;
    flex-flow           : column nowrap;
    position            : fixed;
    top                 : 0px;
    width               : 17rem;
    font-size           : 0.9rem;
    text-align          : center;
    background-color    : $color_main;
    height              : 100%;
    @media ($query_mobile_width_1) {
        width           : 14rem;
    }
    @media ($query_mobile_width_2) {
        position        : static;
        width           : 100%;
        height          : auto;
    }
}
    #profile {
        order       : 1;
        padding     : 1.6rem 0.8rem;
        color       : $color_white;
        @media ($query_mobile_width_2) {
            padding : 0.8rem;
        }
    }
        #profile_pic {
            padding : 0.8rem 0;
            @media ($query_mobile_width_2) {
                padding-top : 0;
            }
            img {
                display : block;
                width   : 85px;
                margin  : auto;
                @media ($query_mobile_width_1) {
                    width   : 65px;
                }
            }
        }
        #profile_title {
            font-size       : 1.8rem;
            font-weight     : 600;
            line-height     : 1.2;
            letter-spacing  : -0.08rem;
            margin          : 0.3rem 0 0.5rem 0;
            @media ($query_mobile_width_1) {
                font-size   : 1.7rem;
            }
            @media ($query_mobile_width_2) {
                margin      : 0;
            }
        }
        #profile_details {
            p {
                padding         : 0;
                margin          : 0.2rem 0;
                line-height     : 1.3;
                @media ($query_mobile_width_2) {
                    padding     : 0;
                }
            }
            a {
                color           : $color_white;
                font-weight     : 600;
                border-bottom   : 1px solid transparent;
                transition      : border $transition_time;
                &:hover {
                    border-bottom   : 1px solid $color_white;
                }
            }
        }
        #profile_social {
            margin-top      : 0.8rem;
            a {
                margin          : 0 0.3rem;
            }
            svg {
                width           : 1.5rem;
                border-radius   : 2px;
            }
            #profile_social_feed {
                fill        : $color_main;
                &:hover {
                    fill    : $color_feed;
                }
            }
            #profile_social_twitter {
                fill        : $color_white;
                &:hover {
                    fill    : $color_twitter;
                }
            }
            #profile_social_github {
                fill        : $color_white;
                &:hover {
                    fill    : $color_github;
                }
            }
        }
    #menu {
        order               : 2;
        display             : flex;
        flex-flow           : column nowrap;
        border-bottom       : 1px solid $color_main_light;
        @media ($query_mobile_width_2) {
            order           : 3;
            flex-flow       : row nowrap;
            border-bottom   : none;
        }
        a {
            @extend %header_button;
            @media ($query_mobile_width_2) {
                width   : 33.333333%;
            }
        }
    }
    #header_actions {
        order               : 3;
        flex                : 1 0 auto;
        display             : flex;
        flex-flow           : column nowrap;
        justify-content     : flex-end;
        border-bottom       : 1px solid $color_main_light;
        margin-bottom       : 2rem;
        @media ($query_mobile_width_2) {
            order           : 2;
            flex-flow       : row nowrap;
            border-bottom   : none;
            margin-bottom   : 0;
        }
        a {
            @extend %header_button;
            @media ($query_mobile_width_2) {
                flex    : 1 0 auto;
                //width   : 50%;
            }
        }
        img {
            width           : 1.5rem;
            vertical-align  : bottom;
        }
        span {
            margin-left     : 0.3rem;
            @media ($query_mobile_width_2) {
                font-size   : 0.85rem;
                margin-left : 0.2rem;
            }
        }
    }


main {
    background-color    : $color_white;
    margin-left         : 17rem;
    padding             : 1rem 2rem 1.4rem 2rem;
    flex                : 1 0 auto;
    @media ($query_mobile_width_1) {
        margin-left     : 14rem;
    }
    @media ($query_mobile_width_2) {
        margin-left     : 0;
        padding         : 1rem 1.2rem 1.2rem 1.2rem;
    }
    a {
        color               : $color_link;
        border-bottom       : 2px solid transparent;
        transition          : border $transition_time;
        &:hover {
            border-bottom   : 2px solid $color_link;
        }
    }
}
    .list {
        list-style  : none;
        padding     : 0;
        margin      : 0;
    }
        .list_item {
            padding         : 0;
            margin          : 0;
            padding-bottom  : 0.3rem;
            margin-bottom   : 1.2rem;
            border-bottom   : 1px solid $color_border;
        }
            .list_item_row1 {
                font-size       : 1.6rem;
                line-height     : 1.25;
                font-weight     : normal;
                margin-bottom   : 0.2rem;
                padding         : 0;
            }
            .list_item_row2 {
                font-size       : 1.2rem;
                font-weight     : normal;
                padding         : 0;
                margin          : 0;
            }
            .list_item_row3 {
                color           : #666666;
                font-size       : 1rem;
                font-weight     : normal;
                padding         : 0;
                margin          : 0;
            }
            .list_item_row4 {
                color           : #777777;
                font-size       : 0.9rem;
                font-weight     : normal;
                font-style      : italic;
                padding         : 0;
                margin          : 0;
            }
    
    .paginator {
        display             : table;
        background-color    : $color_main;
        color               : $color_white;
        fill                : $color_white;
        margin              : auto;
        margin-top          : 1rem;
    }
        .paginator_count {
            display     : table-cell;
            padding     : 0.4rem 0.6rem;
        }
        .paginator_link_disabled {
            display     : table-cell;
            padding     : 0.4rem;
            border      : none;
        }
        .paginator_link {
            @extend .paginator_link_disabled;
            display                 : block;
            width                   : 3rem;
            padding                 : 0.4rem 1rem;
            &:hover {
                background-color    : $color_main_light;
                border              : none;
            }
            &:active {
                background-color    : $color_main;
                transition          : none;
            }
            svg {
                width           : 100%;
                max-height      : 1rem;
            }
        }
    
    .page_header {
        border-bottom   : 1px solid $color_border;
        margin-bottom   : 2rem;
        h1, h2, h3 {
            border          : none;
            margin          : 0;
        }
        h2 {
            color           : #606060;
            font-weight     : normal;
            font-style      : italic;
        }
        h3 {
            color           : #707070;
            font-size       : 1rem;
            font-weight     : normal;
            font-style      : italic;
        }
    }
    /*.page_actions {
        text-align  : center;
        a {
            @extend %button;
            width       : 15rem;
            margin      : 0.5rem 0.9rem;
            padding     : 0.75rem 0;
            @media ($query_mobile_width_1) {
                width   : 11.5rem;
                margin  : 0.4rem;
                padding : 0.6rem 0;
            }
        }
    }*/
    
    .alert {
        font-style          : italic;
        color               : $color_alert_text;
        background-color    : $color_alert;
        border              : 1px solid $color_alert;
        border-radius       : 2px;
        padding             : 0.6rem 0.8rem;
        margin              : 1rem 0;
    }
    
    .share {
        text-align      : center;
        margin-top      : 2rem;
        padding-top     : 0.4rem;
        padding-bottom  : 0.45rem;
        border-top      : 2px solid $color_border;
        border-bottom   : 2px solid $color_border;
        a, a:hover {
            border  : none;
        }
    }
        .share_title {
            margin-bottom   : 0.3rem;
        }
        .share_buttons {
            display         : inline-block;
        }
     
    .comments {
        margin-top  : 0.7rem;
    }
    
    
    #backtotop {
        position        : fixed;
        visibility      : hidden;
        overflow        : hidden;
        width           : 2.5rem;
        height          : 2.5rem;
        bottom          : 1.5rem;
        right           : 1.5rem;
        padding         : 0.2rem;
        z-index         : 9999;
        fill            : $color_main;                
        opacity         : 0;
        cursor          : pointer;
        transition      : all $transition_time;
        &.visible {
            visibility  : visible;
            opacity     : 0.7;
        }
        &:hover {
            opacity     : 1;
        }
        svg {
            width       : 100%;
            height      : auto;
        }
    }

footer {
    margin-left     : 17rem;
    padding         : 0.7rem;
    font-size       : 0.8rem;
    text-align      : center;
    color           : $color_footer_text;
    @media ($query_mobile_width_1) {
        margin-left : 14rem;
    }
    @media ($query_mobile_width_2) {
        margin-left : 0;
    }
    a {
        color               : $color_footer_text;
        font-weight         : 600;
        border-bottom       : 1px solid transparent;
        transition          : border $transition_time;
        &:hover {
            color           : $color_footer_link_hover;
            border-bottom   : 1px solid $color_footer_link_hover;
        }
    }
}