/*** About ***/
#about_contact {
    ul {
        margin-left     : 1rem;
        margin-right    : 1rem;
        list-style      : none;
        li {
            display         : flex;
            flex-flow       : row nowrap;
            justify-content : flex-start;
            align-items     : center;
            margin-bottom   : 0.5rem;
        }
    }
    .about_contact_icon {
        margin-right    : 0.5rem;
        img {
            width           : 1.5rem;
            vertical-align  : middle;
        }
    }
}
main a.about_contact_icon {
    border-bottom   : none;
    &:hover {
        border-bottom   : none;
    }
}



/*** Coffee ***/
#coffee_buttons {
    a {
        @extend %button;
        display         : block;
        max-width       : 16rem;
        text-align      : left;
        padding         : 0.5rem 0.8rem;
        margin-top      : 1.5rem;
        margin-bottom   : 1.5rem;
        margin-left     : 1.5rem;
        @media ($query_mobile_width_2) {
            margin      : 1.5rem auto;
        }
    }
    svg {
        width           : 2rem;
        vertical-align  : bottom;
    }
}
#coffee_other {
    margin          : 3rem 1.5rem;
    text-align      : left;
    @media ($query_mobile_width_2) {
        text-align  : center;
    }
}
#coffee_credits {
    font-size   : 0.9rem;
    font-style  : italic;
    text-align  : right;
    margin-top  : 4rem;
}