h1, h2, h3, h4, h5, h6 {
    display         : block;
    font-weight     : 600;
    margin-bottom   : 0.5rem;
    padding-bottom  : 0.2rem;
    border-bottom   : 1px solid $color_border;
}
h1 {
    font-size       : 2.4rem;
    margin-top      : 0;
    margin-bottom   : 1.4rem;
}
h2 {
    font-size       : 1.6rem;
    margin-top      : 3rem;
}
h3 {
    font-size       : 1.3rem;
    margin-top      : 2.0rem;
}
h4 {
    font-size       : 1.0rem;
    margin-top      : 1.0rem;
    margin-bottom   : 0.3rem;
}
h5 {
    border-bottom   : none;
    font-size       : 1.0rem;
    margin-top      : 1.0rem;
    margin-bottom   : 0;
}
h6 {
    border-bottom   : none;
    font-size       : 0.9rem;
    margin-top      : 0.5rem;
    margin-bottom   : 0;
}
h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, 
h2+h3, h2+h4, h2+h5, h2+h6, 
h3+h4, h3+h5, h3+h6, 
h4+h5, h4+h6, 
h5+h6 {
    margin-top      : 0;
}


ul, ol {
    margin-left     : 1.6rem;
}
    li > ul,
    li > ol {
        margin-bottom   : 0;
    }


p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom   : 0.8rem;
}


b, strong {
    font-weight : 600;
}


a, a:active, a:hover {
    text-decoration : none;
}


hr {
    height              : 1px;
    border              : none;
    background-color    : $color_border;
    margin              : 1.2rem 0;
}


blockquote {
    color           : #808080;
    border-left     : 4px solid #e0e0e0;
    margin-left     : 0.7rem;
    padding-left    : 0.7rem;
    font-style      : italic;
    & > :last-child {
        margin-bottom   : 0;
    }
}


pre, code {
    font-size           : 0.85rem;
    background-color    : $color_code;
    border              : 1px solid $color_code;
    border-radius       : 2px;
}
code {
    padding             : 0.06rem 0.3rem;
}
pre {
    padding             : 0.4rem 0.6rem;
    overflow-x          : auto;
    & > code {
        border          : 0;
        padding-right   : 0;
        padding-left    : 0;
    }
}


table  {
    border-collapse : collapse;

    td, th {
        border  : 1px solid $color_border;
    }
}
