---
layout    : default
permalink : /labs/:title/
---
<article class="lab">
    <section class="page_header">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.description }}</h2>
    </section>
    
    <section class="page_content">
        {{ content }}
        
        <h2 id="comments-and-ideas">Comments and Ideas</h2>
        <p>
            Want to leave a comment or give me an idea? Send me an <span id="emailobfuscator"></span> or use the comments section below.
        </p>
    </section>
</article>

{% include share.html %}
{% include comments.html %}